.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  width: 100%;
}

.navigation__logo {
  font-size: 20px;
  font-weight: 700;
  color: #ffff;
  text-decoration: none;
}

.navigation__links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation__link {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 8px;
}

.navigation__link::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navigation__link:hover::after {
  opacity: 1;
}

.navigation__link_active::after {
  opacity: 1;
}

.navigation__link_active {
  font-weight: 700;
}

.navigation__button {
  padding: 8px 16px;
  border: 1px solid #ffff;
  color: #ffff;
  background: transparent;
  border-radius: 100px;
  cursor: pointer;
  width: 152px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
}

.navigation__button:hover {
  cursor: pointer;
}

.navigation__logout-icon {
  width: 12px;
  height: 15px;
  align-items: center;
}

.header_saved .navigation__logo {
  color: #1a1b22;
  background-color: transparent;
}
.header_saved .navigation__link {
  color: #1a1b22;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: transparent;
}

.header_saved .navigation__link::after {
  background-color: #1a1b22;
  width: 100px;
  bottom: -46px;
}

.header_saved .navigation__button {
  color: #1a1b22;
  border: 1px solid #1a1b22;
  background-color: transparent;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
}

.header_saved .navigation__logout-icon {
  width: 12px;
  height: 15px;
  align-items: center;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
}
