.modal {
  display: none;
  z-index: 100;
}

.modal__container {
  width: 430px;
  background: white;
  border-radius: 12px;
  padding: 36px;
  position: relative;
}

.modal_opened {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background: white;
  padding: 24px;
  border-radius: 16px;
  min-width: 320px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: -40px;
  right: -40px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
}

.modal__title {
  font-size: 24px;
  margin-bottom: 24px;
}

.modal__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 24px;
  font-size: 14px;
  outline: none;
}

.modal__label {
  font-size: 12px;
  color: #2f71e5;
  margin-bottom: 6px;
  display: block;
}

.modal__button {
  width: 100%;
  padding: 14px;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  margin-top: 8px;
  background: #e6e8eb;
  color: #b6bcbf;
  cursor: not-allowed;
}

.modal__button_active {
  background: #2f71e5;
  color: white;
  cursor: pointer;
}

.modal__button_active:hover {
  background: #1e5edc;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__switch {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.modal__link {
  color: #2f71e5;
  cursor: pointer;
}

.modal__error {
  display: block;
  margin-top: -14px;
  margin-bottom: 14px;
  font-size: 12px;
  color: #ff0000;
}

@media screen and (max-width: 600px) {
  .modal {
    align-items: flex-start;
  }

  .modal__container {
    width: 100%;
    max-width: 288px;
    min-height: 100vh;
    border-radius: 16px 16px 0 0;
    padding: 16px;
    margin-top: 56px;
    box-sizing: border-box;
  }

  .modal__title {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 18px;
  }

  .modal__label {
    font-size: 12px;
    line-height: 16px;
  }

  .modal__input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    margin-bottom: 16px;
  }

  .modal__button {
    width: 100%;
    height: 56px;
    border-radius: 100px;
    margin-top: 8px;
  }

  .modal__switch-button {
    display: block;
    margin: 16px auto 0;
    text-align: center;
  }

  .modal__close {
    top: -40px;
    right: 0;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    max-width: 100%;
    padding: 16px;
    margin-top: 48px;
  }

  .modal__title {
    font-size: 22px;
    line-height: 26px;
  }

  .modal__input {
    font-size: 14px;
  }

  .modal__button {
    height: 56px;
    font-size: 16px;
  }

  .modal__close {
    top: -36px;
    right: 0;
  }
}
