.footer {
  margin-top: auto;
  padding: 24px 104px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__link {
  font-size: 14px;
  line-height: 24px;
}

.footer__navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__icon-link {
  display: flex;
  align-items: center;
}

.footer__link:hover {
  text-decoration: none;
}

.footer__text {
  font-size: 14px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 16px;
  color: #b6bcbf;
  margin: 0;
}

.footer__icon {
  width: 20px;
  height: 18px;
}

.footer__links,
.footer__icons {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* TABLET */

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 16px;
    flex-direction: column-reverse;
    gap: 38px;
  }

  .footer__links {
    justify-content: space-between;
    width: 100%;
  }
}

/* MOBILE */

@media screen and (max-width: 320px) {
  .footer {
    padding: 20px 16px 24px;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 24px;
    column-gap: 0;
    align-items: start;
  }

  .footer__links {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-self: start;
    margin-left: -72px;
  }

  .footer__socials {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 16px;
    margin-top: -2px;
  }

  .footer__copyright {
    grid-column: 1 / 3;
    grid-row: 2;
    font-size: 12px;
    line-height: 16px;
    color: #b6bcbf;
    margin: 0;
  }
}
